.wrapper {
    width: 560px;
    height: 30px;
    padding: 5px 0;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.remove {
    width: 40px;
    height: 30px;
    border: none;
    background: url('../icons/remove.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.data {
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 5px;
}

.title {
    padding: 0 5px;
    font-size: 18px;
    margin: auto 0;
    line-height: 50px;
}

.complete {
    margin-left: 10px;
}

.favlabel {
    position: relative;
    padding-left: 30px;
    padding-bottom: 29px;
}

.favinput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.favspan {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    content: '';
    background-image: url('../icons/add-to-fav.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.favspan::after {
    content: '';
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url('../icons/fav.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.favinput:checked + .favspan::after {
    display: block;
}

.comlabel {
    position: relative;
    padding-left: 30px;
    padding-bottom: 29px;
}

.cominput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.comspan {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid black;
    border-radius: 5px;
}

.comspan::after {
    content: '';
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url('../icons/check.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    transform-origin: center center
}

.cominput:checked + .comspan::after {
    display: block;
}

.line {
    text-decoration: line-through;
}